<h1> Welcome to Scrabble Word Play!! </h1>
<form action = '/title'>
  <div class="form-group">
    <label for="title">Enter a Sentence to play:</label>
    <input type="text" id = "title" name="title" class="form-control">
  </div>
  <button type="submit" class="btn-success"> Send</button>
</form>
