<h1> Welcome to Scrabble Word Play!! </h1>
<form action = '/result'>
  <div class="form-group">
    <label for="result">Enter a Sentence to play:</label>
    <input type="text" id = "result" name="result" class="form-control">
  </div>
  <button type="submit" class="btn-success"> Send</button>
</form>
